.App {
  text-align: center;
}

.col-sm {
  float: left;
  margin: 20px;
  justify-content: start;
}

.col-lg {
  margin: 20px;
  justify-content: flex-start;
}

.list-group-item {
  background-color: cadetblue;
}